pkgbase = wps-office-mui-zh-cn
	pkgdesc = Kingsoft Office (WPS Office) CN version - an office productivity suite
	pkgver = 11.1.0.10161
	pkgrel = 1
	url = https://linux.wps.cn
	arch = x86_64
	arch = aarch64
	license = custom
	options = !emptydirs
	source_x86_64 = https://wdl1.cache.wps.cn/wps/download/ep/Linux2019/10161/wps-office_11.1.0.10161_amd64.deb
	sha1sums_x86_64 = a0a715cf6932b20715b7164f549ed7a24e29af4a
	source_aarch64 = https://wdl1.cache.wps.cn/wps/download/ep/Linux2019/10161/wps-office_11.1.0.10161_arm64.deb
	sha1sums_aarch64 = 74f73aeb83de2eec716e71408b8df3c0ce1cf46e

pkgname = wps-office-mui-zh-cn
	pkgdesc = Chinese (Simplified) mui package for WPS Office
